

*
{
 padding: 0.5;
 margin: 0.5;
 box-sizing: border-box;
 font-family: 'Times New Roman', Times, serif;
 
}

.header
{
 background-color: #333;
 color: aliceblue;
 font-size: 15px;
 align-items: center;
 padding: 30px;
 text-align: left;

}


.header1 td
{
 background-color: #222021;
 color: aliceblue;
 font-size: 15px;
 align-items: center;
 padding: 0.1%;
 
}

.header1 .maintable 
{
   background-color: #222021;
   width: 40px;
}

.maintable td
{
   background-color: #222021;
   justify-content: center;
   
 
}


.logo1
{
   margin-bottom: 20px;
}

.searchbutton .fa fa-search
{
   align-items: center;
}

.tdlang
{
   width: 130px;
}

.tdlogin
{
   width: 130px;
}
.header1 .sampletable .td
{
   background-color: #222021;
   color: #fff;
}

.tdcart
{
   width:150px;
}
.sample
{
   width: 600px;
   padding: 0%;

  
}

.maintable .td4
{
   background-color: #222021;
   font-size: medium;
   width: 30px;
}

.maintable .td3
{
   background-color: #222021;
   font-size: medium;

}

   .maintable .td1
{
   background-color: #222021;
   font-size: medium;
   width: 50px;
   
}

   .maintable .td2
{
   background-color: #222021;
   font-size: medium;
  
}
.maintable .td5
{
   background-color: #222021;
   font-size: small;
}
.carticon
{
   margin: 10px;
   font-size: 30px;
}
.logo
{
   position: absolute;
   height: auto;
   left: 0px;
   width:250px;
}

.container
{
 background-color: #222021;
 color: aliceblue;
 font-size: 15px;
 align-items: center;
 padding: 0%;
 justify-content: space-between;
 display: inline;

 
}




.container .shopping-cart
{
   border: 1px solid;
   position: absolute;
   top: 100%;
   padding: 1rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   width: 30rem;
   background: #fff;

}

.shopping-cart .box
{
   border: 1px slateblue;
}

.div .para
{
   font-size: 50px;
}


.m1 
{
   width: 1335px;
   
}

.radiobtn1
{
   float: center;

}

.shopnow
{
   background-color:floralwhite;
   color: black;
   float: center;
   border:0px;
   padding: 15px;
   width: 12%;
   font-size: large;
   margin:0 auto; 
   
   
}

.shopnow:hover
{
   background-color: rgb(245, 235, 235);
}

input[type=radio]#Yellow {
   accent-color: pink;
}
.images
{
 margin: 0%;
 text-align: center;
   image-rendering: var(images/Bar_Light_Banner_new_800x.jpg);
   color: black;  
   font-size: 25px;  
   margin: auto;  
   
}

.sliderdiv1
{
   background-color: #cb1836;
   width: 1300px;
   height: 500px;
   justify-content: center;
   margin:1%;
   
}

.sliderdiv1part1
{
   border-radius: 2px;
   padding:22px;
   color: #fff;
   font-size:18px;
   line-height: 22px;
   
}


.shopnowsliderdiv1part1
{
   background-color:floralwhite;
   color: rgb(14, 119, 199);
   float: center;
   border:0px;
   padding: 15px;
   width: 12%;
   font-size: large;
   margin-left: auto;
   
   

}

.ins
{
   color: #cb1836;
   font-size: x-large;
   text-decoration: none;
}

.ptable
{
   font-size: small;
   word-wrap: normal;
}
.del
{
   font-size: medium;
}

.subtable
{
   width: 60%;
   height: 80%;
   text-align: center;
   padding: 0;
   color: #000000;
   background-color: #fff;
   font-size: medium;
}

.subtabletd
{
   text-align: right;
   text-wrap: 1;

}


.stickerheading1
{
   text-align: left;
   font-size: xx-large;
}

.stickerheading2
{
 
   text-decoration: none;
   color: #cb1836;
   text-align: corner;
   font-size: 20px;
}


.sliderdiv2
{
   background-color: #cb1836;
   width: 1300px;
   height: 500px;
   justify-content: center;
   margin:1%;
}

.sliderdiv3
{
   background-color: #cb1836;
   width: 1300px;
   height: 500px;
   justify-content: center;
   margin:1%;
}
.white
{
   color: #fff;
}
.shopnow:hover
{
   opacity: 10px;
}
.features .box-container .box
{
 
 padding: 1rem 1rem;
 background: #fff;
 border-radius: 1px;
 border-color: grey;
 outline-offset: -1rem;
 text-align: auto;
 text-align: left;
  display: table-cell;
  vertical-align: bottom;
  float: none;
 font-size: large;
 
}

.features .box-container .box .insert
{
 text-decoration: none;
}
.navbar-item:hover { 
   background-color: red; 
 } 
.navbar :hover
{
   text-decoration:none; 
   cursor:pointer;  
   
}



a:hover {
   color:rgb(134, 17, 17); 
   text-decoration:none; 
   cursor:pointer;  
}

a {
      text-decoration: none;
      color:black ;
}

ul
{
  list-style-type: none;
  background-color: aliceblue;
  color: black;
}

ul li
{
    display: inline-block;
    padding: 15px;
    margin: 0;
}

td 
{
   background-color: #fff;
   
   text-align: justify;
  
   word-spacing: 2.5px;
   line-height: 1.6;
   padding: 10px;
}

table
{
   
  width: 100%;

}

.table2
{
   background-color: black;
   width: 100%;
   margin: 0px;
   padding: 0px;
}

.table2 td
{
   background-color: black;
   
}



.table2 ul
{
   background-color: black;
   color: #fff;
   line-height: 1px;
}


.table2 td .language
{
   background-color: black;
   color: #fff;
   
}

.emailbox {
   color: white;
   float: right;
   margin-right: 20px;
   padding: 15px;
   width: 20.5%;
 }

 
.subscribebutton {
   background-color:#cb1836;
   color: #fff;
   float: right;
   margin-right: 125px;
   padding: 15px;
   width: 12%;
   font-size: large;
   
 }


.Savebutton
{
   background-color:#cb1836;
   color: #fff;
   float: right;
   padding: 7px;
   width: 15%;
   font-size: large;
   
}

.searchbar {
   padding: 10px;
   font-size: 17px;
   float: left;
   width: 30%;
   background: #efefef;
 }


 .searchbutton

 {
   
      float: left;
      width: 3%;
      padding: 10px;
      background: #cb1836;
      color: #ffffff;
      font-size: 17px;
      cursor: pointer;
    
 }

.navbar
{
   background-color:#ffffff;
   margin:1px;
   text-align: left;
}

 .navbar .Caraccessories
 {
   background-color: rgb(255, 255, 255);
   color: #000000;
   padding: 10px;
   font-size: large;
   border: none;
  
 }



 .navbar .JeepAccessories 
 {
   background-color: rgb(255, 255, 255);
   color: #000000;
   padding: 10px;
   font-size: large;
   border: none;
 
 }

 .navbar .PerformanceParts 
 {
   background-color: rgb(255, 255, 255);
   color: #000000;
   padding: 10px;
   font-size: large;
   border: none;
   overflow: auto;
 }


 .navbar .BikeAccessories
 {
   background-color: rgb(255, 255, 255);
   color: #000000;
   padding: 10px;
   font-size: large;
   border: none;
   overflow: auto;
 }

 .navbar .CarCareProducts 
 {
   background-color: rgb(255, 255, 255);
   color: #000000;
   padding: 8px;
   font-size: large;
   border: none;
   text-align: center;
   overflow: auto;
 }

 .navbar .CarParts 
 {
   background-color: rgb(255, 255, 255);
   color: #000000;
   padding: 6px;
   font-size: large;
   border: none;
   text-align: left;
   overflow: auto;
   width: 9%;

 }

 .navbar .option
 {
   text-align: left;
 }

.numbertable .no1 
{
   background:#edf2fa;
   font-size: medium;

}

.numbertable .no1 i
{
   font-size:xx-large;
   text-align: center;
}


.numbertable .no2 
{
   background:#edf2fa;
   font-size: medium;

}

.numbertable .no2 i
{
   font-size:xx-large;
   text-align: center;
}


.numbertable .no3 
{
   background:#edf2fa;
   font-size: medium;

}

.numbertable .no3 i
{
   font-size:xx-large;
   text-align: center;
}

.numbertable .no4
{
   background:#edf2fa;
   font-size: medium;

}

.numbertable .no4 i
{
   font-size:xx-large;
   text-align: center;
}













